{% extends "base.html" %}
{% block content %}
<div class="login-form">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		    <ul class="flashes">
		    {% for message in messages %}
		    	{% if message == 'Thanks for registering! Now you can login!' %}
		      		<li>{{ message }}</li>
	      		{% endif %}
		    {% endfor %}
		    </ul>
		  {% endif %}
		
	<form method="POST">
	    {# This hidden_tag is a CSRF security feature. #}
	    {{ form.hidden_tag() }}
	    <h2 class="text-center">Log In</h2> 
	    <div class="form-group">
	    	{{ form.email.label }} {{ form.email(type="email", class="form-control", placeholder="Email id", required="required") }}
	    </div>
	    <div class="form-group">
	    	{{ form.password.label }} {{ form.password(type="password", class="form-control", placeholder="Password", required="required") }}
		</div>
		 <div class="form-group">
	    	{{ form.submit(type="submit", class="btn btn-primary btn-block") }}

	    	
			{% if messages %}
			    <ul class="flashes">
			    {% for message in messages %}
			    	{% if message == 'Invalid Username or Password' %}
			     		 <li>{{ message }}</li>
	     		 	{% endif %}
			    {% endfor %}
			    </ul>
			  {% endif %}
		
	    </div>
	</form>
	{% if url_for(request.endpoint) == "/login" %}
    <p class="text-center"><a href="{{ url_for('users.register') }}">Create an Account</a></p>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
