{% extends "base.html" %}

{% block content %}

<div class="register-form">
	{% with messages = get_flashed_messages() %}
	<form method="POST">
	    {# This hidden_tag is a CSRF security feature. #}
	    {{ form.hidden_tag() }}
	    <h2 class="text-center">Register</h2>     
	    <div class="form-group">
	    	{{ form.email.label }} {{ form.email(type="email", class="form-control", placeholder="Email id", required="required") }}
	    	{% if messages %}
			    <ul class="flashes">
			    {% for message in messages %}
			    	{% if message == 'Your email has been registered already!' %}
			      		<li>{{ message }}</li>
			      	{% endif %}
			    {% endfor %}
			    </ul>
			  {% endif %}
			
	    </div>
	    <div class="form-group">
	    	{{ form.username.label }} {{ form.username(type="text", class="form-control", placeholder="User Name", required="required") }}
	    	{% if messages %}
			    <ul class="flashes">
			    {% for message in messages %}
			    	{% if message == 'Sorry, that username is taken!' %}
			      		<li>{{ message }}</li>
		      		{% endif %}
			    {% endfor %}
			    </ul>
			  {% endif %}
			
	    </div>
	    <div class="form-group">
	    	{{ form.password.label }} {{ form.password(type="password", class="form-control", placeholder="Password", required="required") }}
    	</div>
    	<div class="form-group">
	    	{{ form.pass_confirm.label }} {{ form.pass_confirm(type="password", class="form-control", placeholder="Confirm Password", required="required") }}
    	</div>
    	<div class="form-group">
	    	{{ form.submit(type="submit", class="btn btn-primary btn-block") }}
    	</div>
	</form>
	<div class="text-center">Already have an account? <a href="{{ url_for('users.login') }}">Sign in</a></div>
	{% endwith %}
</div>


{% endblock %}
